#meat {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 150px;
    background: url('images/meat.png') 0px 0px;
    animation: playSpriteSheet 1s steps(12) infinite;
    animation-play-state: paused;
    margin:auto;
}

@keyframes playSpriteSheet {
    100% { background-position: -3600px 0px; } /* final background position */
}

/* Base game containers */
#gameWindow {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 32px;
    left: 0;
    background: url('images/caveBackground.jpg');
    background-size: cover;
}
#playContainer {
    width: 40%;
    position: relative;
    left: 10%;
	top:0px;
	bottom:0;
	min-width:100px;
    background:rgba(0,0,0,0.5);
    border: 3px solid;
}
#tabs {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
#resourceBank {
    width: 40%;
    position: absolute;
    right: 10%;
	top:0px;
	bottom:0;
	min-width:100px;
    background:rgba(0,0,0,0.5);
}

/* Play Area */
#playArea {
    margin-top: 40px;
}
.tab-content {
    display: none;
}
.tab-btn, #header {
    border: none;
    outline: none;
    cursor: pointer;
    flex: 1;
    background-color: transparent;
    color: darkgray;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.tab-btn.active {
    color: rgb(243, 243, 243);
}

/* Cooking Tab */

/* Research Tab */
#researchCanvasContainer {
    width: 90%;
    position: relative;
    left: 5%;
}

#drawingCanvas{
    background: linear-gradient(to right, #f7e1b5, #f7e1b5);
    filter: blur(2px);
    border: 2px solid #5c5c5c;
}

#researchItemList {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 71%;
    top: 0;
}

.researchItem {
    border: 2px dotted;
    height: 20%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    color: darkgray;
    font-weight: bold;
}

.researchItem.active {
    border: solid;
    color: rgb(243, 243, 243);
}

#canvasButtonsContainer {
    width: 70%;
    position: relative;
    display: flex;
    justify-content:space-evenly;
}

#clearCanvasBtn, #beginResearchBtn {
    width: 40%;
    justify-content: center;
}

#currentResearchContainer {
    position: relative;
    
}

/* Ongoing Research */
.research-div {
    display: flex;
    align-items: center;
    background-color: lightgray;
    gap: 8px; /* add a small gap between elements */
}
canvas, p {
    margin: 0;
}
.progress-bar {
    height: 20px;
    width: 30%;
    background-color: darkgray; /* give the progress bar a dark gray background */
}

/* Popup Windows */
#popup-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.hidden {
    display: none;
}

/* Bottom InfoBar */
#infoBar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 32px;
    color: #ccc;
    background-color: darkslategray;
    padding: 3px 0px;
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.2);
}
@media (max-width: 600px) {
    #infoBar {
        font-size: 0.75em;
    }
    #infoBar a, #infoBar button {
        font-size: 0.75em;
    }
}
#infoBar > div:nth-child(-n+2) {
    float: left;
}
#infoBar > div:nth-child(n+3) {
    float: right;
}
#infoBar > div, #canvasButtonsContainer > button {
    display: flex;
    height: 32px;
    align-items: center;
    margin: 0px 3px;
    box-shadow:
        inset 0px 2px 0px #000,
        inset 0px -2px 0px #ccc;
    border-radius: 5px;
    transform: skew(-10deg);
}
#infoBar > div:active {
    transform: skew(-10deg) translateY(1px);
    background-color: #333333
}
#infoBar > div:active > a, #infoBar > div:active > button {
    color: #ccc;
}
#infoBar a {
    color:#fff;
    text-decoration: none;
    padding: 0px 5px;
    height: 100%;
    display: flex;
    align-items: center;
}
#infoBar a > div {
    display: flex;
    align-items: center;
    height: 100%;
}
#infoBar a:hover {
    color: #7289da;
    text-shadow: 0px 0px 3px #5e73c1;
}
#infoBar button {
    color:#fff;
    background-color: transparent;
    padding: 0px 10px;
    height: 100%;
    border: none;
}
#infoBar button:hover {
    color: #7289da;
    text-shadow: 0px 0px 3px #5e73c1;
    cursor: pointer;
}
#infoBar img {
    padding: 5px 5px 5px 0px;
}
#infoBar div:hover {
    cursor: pointer;
}