@use '../abstracts/' as *;
@use '../base/' as *;
@use 'sass:color';

/*=====================================================================================
Main Content Layout
=======================================================================================*/

#gameWindow {
	@include flex(column);
	min-height: 100vh;
}

#gameContent {
	@include flex(row);
	max-height: calc(100vh - $footerHeight);
	justify-content: center;
	background: url('../images/caveBackground.jpg');
	background-size: cover;
}

#playContainer, #infoContainer {
	@include flex(column, none);
	background: $primaryBackgroundColor;
	border-left: 3px solid $black;
	border-right: 3px solid $black;
	overflow: hidden;
}

#playContainer {
	width: 50%;

	& section {
		@include flex(column);
		display: none;
	}

	@include breakpoint-width('small') {
		width: 60%;
	}
}

#infoContainer {
	width: 30%;

	& section {
		@extend .baseContainer;
		min-height: 150px;
	}

	@include breakpoint-width('small') {
		width: 40%;
	}
}

.baseContainer {
	background: $secondaryBackgroundColor;
	border: 1px solid color.change($black, $alpha: 0.3);
	border-radius: 20px;
}

#nav {
	@include flex(row, none);
	height: $navbarHeight;
	border-bottom: 1px solid $black;
}

#playArea {
	@include flex(column);
	max-height: calc(100% - $navbarHeight);
	padding-top: 20px;
}