/// Set flex display on a component
///
/// @mixin
/// @param {string} $direction
///   The direction of the flex container, can be either `row` or `column`.
/// @param {string} [$flexType=auto]
///   The flexible length dimension of a flex item.
///
/// @example
///   .example-class {
///     @include flex(row, none);
///   }
@mixin flex($dir, $flexType: auto) {
	display: flex;
	flex-direction: $dir;
	flex: $flexType;
}

/// Set header styling on a component
///
/// @mixin
///
/// @example
///   .example-class {
///     @include header();
///   }
@mixin header() {
	cursor: default;
	color: darkgray;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}