@use './layout/' as *;
@use './tabs/' as *;
@use './components/' as *;

/*=====================================================================================
Other
=======================================================================================*/

#modals {
	z-index: 1;
	backdrop-filter: blur(1px);
}
dialog::backdrop{
	//filter: blur();
}
#popup-window {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-color: white;
}
.header {
	margin: 5px 0;
	cursor: default;
	color: darkgray;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}
.draggable {
	cursor: move;
}

/* Functional Styling */
.hidden {
	visibility: hidden;
}
.scrollable {
	min-height: 100px;
	overflow-y: scroll;
	scrollbar-width: none;
}

/*=====================================================================================
Media Breakpoints
=======================================================================================*/

@media (max-width: 1000px) {
	#canvasContainer {
		justify-content: flex-start;
	}
	#colourPicker, #researchItemList {
		flex: 1;
	}
}
